%h2 Story Forms
= simple_form_for @tracker do |f|
  = f.error_notification
  - if @context == 'new'
    -# = f.association :state, collection: State.all.order('name'), value_method: :id
    -# = f.association :cc, collection: Cc.all.order('name'), value_method: :id
    = f.input :state_name
    = f.input :cc_name
  - @columns[:story].each do |column|
    = f.input :"#{ column }", label: name_modifier(column)
  = f.submit 'Save', class: 'btn btn-primary btn-block'
