= provide(:title, "#{ @cc.full_name }")

%p= link_to 'Back to all CCs', ccs_path

%h1.text-center #{ @cc.full_name }

%p.show-buttons
  = link_to 'Edit', edit_cc_path(@cc), class: 'btn btn-default'
  = link_to 'Add Note', note_form_cc_path(@cc), class: 'btn btn-default'
  - if current_user.try(:admin?)
    = link_to 'Delete', cc_path(@cc), method: :delete, class: 'btn btn-default',
      data: { confirm: "Are you sure you want to delete #{ @cc.full_name }?" }

%h2 Stats
%h4 (A cell without a date means the action hasn't been done yet.)
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @column_dates.each do |column|
      %tr
        %td.col-md-6
          %strong= cc_name_modifier(column)
        %td.col-md-6
          = @cc.send(:"#{ column }")

%h2 Video Trackers
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @cc.trackers.order('uid DESC').each do |tracker|
      %tr
        %td.col-md-6
          = link_to tracker.uid, tracker_path(tracker)

%h2 Information
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @columns.each do |column|
      %tr
        %td.col-md-6
          %strong= cc_name_modifier(column)
        %td.col-md-6
          - if column == 'notes'
            = simple_format(@cc.notes)
          - else
            = @cc.send(:"#{ column }")

%p= link_to 'Back to all CCs', ccs_path
