= provide(:title, "#{ @cc.full_name }")

%p
  = link_to 'Back to all CCs', ccs_path

%h1.text-center #{ @cc.full_name }

%p
  = link_to 'Edit', edit_cc_path(@cc), class: 'btn btn-default'
  = link_to 'Delete', cc_path(@cc), method: :delete, class: 'btn btn-default',
    data: { confirm: "Are you sure you want to delete #{ @cc.full_name }?" }

.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @columns.each do |column|
      %tr
        %td.col-sm-6
          %strong= name_modifier(column)
        %td.col-sm-6
          = @cc.send(:"#{ column }")

%p
  = link_to 'Back to all CCs', ccs_path
