= provide(:title, "#{@state.name}")

%p= link_to 'Back to all states', states_path

%h1.text-center #{ @state.name }

%p
  = link_to 'Edit', edit_state_path(@state), class: 'btn btn-default'
  = link_to 'Delete', state_path(@state), method: :delete, class: 'btn btn-default',
    data: { confirm: "Are you sure you want to delete #{ @state.name }?" }

.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - @columns.each do |column|
      %tr
        %td.col-sm-6
          %strong= state_name_modifier(column)
        %td.col-sm-6
          = @state.send(:"#{ column }")

%p= link_to 'Back to all states', states_path
