- story = ['uid', 'state_name', 'cc_name', 'district', 'mentor']

%h2 Story
.table-responsive
  %table.table.table-bordered.table-striped#view-margin
    - story.each do |column|
      %tr
        %td.col-sm-6
          %strong= name_modifier(column)
        %td.col-sm-6
          = @tracker.send(:"#{ column }")
    - @columns[:story].each do |column|
      %tr
        %td.col-sm-6
          %strong= name_modifier(column)
        %td.col-sm-6
          = @tracker.send(:"#{ column }")
