- story_columns = ['uid', 'state_name', 'cc_name', 'district', 'mentor']

%h2= tracker_name_modifier(section.to_s)
.table-responsive{ style: "clear: both;" }
  %table.table.table-bordered.table-striped#view-margin
    - if section == :story
      - story_columns.each do |column|
        %tr
          %td.col-md-6
            %strong= tracker_name_modifier(column)
          %td.col-md-6
            = @tracker.send(:"#{ column }")
    - @columns[section].each do |column|
      %tr
        %td.col-md-6
          %strong= tracker_name_modifier(column)
        %td.col-md-6
          - if column == 'notes'
            = simple_format(@tracker.notes)
          - elsif column == 'updated_by'
            = simple_format(@tracker.updated_by)
          - elsif column == 'youtube_url'
            %a{ href: @tracker.youtube_url, target: "_newtab" }
              #{@tracker.youtube_url}
          - else
            = @tracker.send(:"#{ column }")
