%h2= tracker_name_modifier(section.to_s)
= simple_form_for @tracker do |f|
  = f.error_notification
  - if @context == 'new'
    = f.association :tracker_details, collection: @state.ccs.order('last_name'),
      value_method: :id, label_method: :full_name, label: 'CC'
  - @columns[section].each do |column|
    - if column.include? "_date"
      = f.input :"#{ column }", label: tracker_name_modifier(column), include_blank: true
    - elsif column.include? "_rating"
      = f.input :"#{ column }", as: :select,
        collection: ratings_collection,
        label: tracker_name_modifier(column)
    - elsif @unique[:special].include? column
      = f.input :"#{ column }", as: :select,
        collection: find_collection(column),
        label: tracker_name_modifier(column)
    - elsif @unique[:yesno].include? column
      = f.input :"#{ column }", as: :select,
        collection: [['yes', :yes], ['no', :no]],
        label: tracker_name_modifier(column)
    - elsif @unique[:numbers].include? column
      = f.input :"#{ column }", as: :integer, label: tracker_name_modifier(column)
    - else
      = f.input :"#{ column }", label: tracker_name_modifier(column)
  = f.submit 'Save', class: 'btn btn-primary btn-block'
