= provide(:title, "Filter By Month")
-state = params[:state]!="%" ? params[:state] : "All States"
%h1.text-center Monthly Report For #{state}

= form_tag trackers_monthly_path, method: "get", class: "form-group col-md-12" do 
	%div.col-md-1
		%h4 Status:
	%div.col-md-4
		= select("status","stage", find_collection("production_status") {|p| [ p[0], p[1] ] }, {}, class: "form-control")
	%div.col-md-2
		= select_month(Date.today, options = {}, html_options = {class: "form-control col-md-3"})
		= hidden_field_tag "state", params[:state] , {class: "form-control"}
	%div.col-md-2
		= select_year(Date.today, options = {}, html_options = {class: "form-control col-md-6"})
	= submit_tag("Search", class: "btn btn-success")

%br
%h3.text-center= @title + "#{state}"
.table-responsive
	%table.table.table-bordered.table-striped.table-condensed
		%thead
			%tr
				%th UID
				%th One Line Description
				%th Cc Name
		-@trackers.each do |tracker|
			%tr
				%td
					= link_to tracker.uid, tracker
				%td
					= tracker.description
				%td
					= tracker.cc_name





