= provide(:title, "Edit #{ @tracker.uid }")

%h1.text-center Edit #{ @tracker.uid }
= render 'trackers/forms/story'
= render 'trackers/forms/status'
= render 'trackers/forms/raw_review'
= render 'trackers/forms/footage_edit'
= render 'trackers/forms/footage_review'
= render 'trackers/forms/impact_planning'
= render 'trackers/forms/impact_achieved'
= render 'trackers/forms/impact_video'
= render 'trackers/forms/screening'
= render 'trackers/forms/payment'
= render 'trackers/forms/ratings'
