= provide(:title, "#{ @tracker.uid }")

%a#top

%p= link_to 'Back to recent video forms', trackers_path(recent: true)

%h1.text-center
  #{ @tracker.uid.split('_').join(' ') } by
  #{ link_to @tracker.cc_name, cc_path(@tracker.cc) } - #{ @tracker.iu_theme }
- unless @tracker.impact_uid.blank? || @tracker.uid.include?('_impact')
  %h2.text-center
    This video had an impact! See
    = link_to " #{ @tracker.impact_uid }",
      tracker_path(Tracker.find_by(uid: @tracker.impact_uid))
- unless @tracker.original_uid.blank?
  %h2.text-center
    See the original issue video:
    = link_to " #{ @tracker.original_uid }",
      tracker_path(Tracker.find_by(uid: @tracker.original_uid))

%h3.text-justify #{ @tracker.description }
%br

- @sections.each_slice(5).to_a.each do |sections|
  %ul.btn-group.btn-group-sm.btn-group-justified{ role: "group" }
    - sections.each do |section|
      %li.btn.btn-default
        = link_to tracker_name_modifier(section.to_s),
          tracker_path(@tracker, anchor: section)

%p.show-buttons
  - if @tracker.tracker_type == "Issue"
    = link_to 'Add Impact Video For this issue', new_tracker_path(state_name: @tracker.state_name,tracker_id: @tracker.id, tracker_type: "impact"), class: 'btn btn-default' if @tracker.impact_uid.blank?
  = link_to 'Edit', edit_tracker_path(@tracker), class: 'btn btn-default'
  = link_to 'Add Note', note_form_tracker_path(@tracker), class: 'btn btn-default'
  - if current_user.division != "State Coordinator"
    = link_to 'Delete', tracker_path(@tracker), method: :delete, class: 'btn btn-default',
      data: { confirm: "Are you sure you want to delete #{ @tracker.uid }?" }

- @sections.each do |section|
  %a{ id: "#{ section }" }
  = render "trackers/display", section: section
  = link_to '^ back to top ^', tracker_path(@tracker, anchor: 'top')

%p{ style: "margin-top: 20px;" }= link_to 'Back to recent video forms', trackers_path(recent: true)
