= provide(:title, "#{ @tracker.uid }")

%a#top

%p= link_to 'Back to all trackers', trackers_path

%h1.text-center
  #{ @tracker.uid.split('_').join(' ') } by #{ @tracker.cc_name } -
  #{ @tracker.iu_theme }
- unless @tracker.impact_uid.blank? || @tracker.uid.include?('_impact')
  %h2.text-center
    This video had an impact! See
    = link_to " #{ @tracker.impact_uid }",
      tracker_path(Tracker.find_by(uid: @tracker.impact_uid))
- unless @tracker.original_uid.blank?
  %h2.text-center
    See the original issue video:
    = link_to " #{ @tracker.original_uid }",
      tracker_path(Tracker.find_by(uid: @tracker.original_uid))

%h3.text-justify #{ @tracker.description }
%br

%ul.btn-group.btn-group-sm{ role: "group" }
  - @sections.each do |section|
    %li.btn.btn-default
      = link_to tracker_name_modifier(section.to_s),
        tracker_path(@tracker, anchor: section)

%p.show-buttons
  = link_to 'Edit', edit_tracker_path(@tracker), class: 'btn btn-default'
  = link_to 'Add Note', note_form_tracker_path(@tracker), class: 'btn btn-default'
  = link_to 'Delete', tracker_path(@tracker), method: :delete, class: 'btn btn-default',
    data: { confirm: "Are you sure you want to delete #{ @tracker.uid }?" }

- @sections.each do |section|
  %a{ id: "#{ section }" }
  = render "trackers/display", section: section
  = link_to '^ back to top ^', tracker_path(@tracker, anchor: 'top')

%p{ style: "margin-top: 20px;" }= link_to 'Back to all trackers', trackers_path
