%nav.navbar.navbar-default.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to image_tag('vvnewlogo.png', size: '50', alt: 'Brand'), home_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      - if current_user
        / State coordinator can create a new video of his state
        - if current_user.division == "State Coordinator"
          %li
            %li= link_to "New Form", new_tracker_path(state_name: "#{current_user.state}")
        - elsif current_user.division == "Editor"
          %li.dropdown
            %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
              Videos Under Your Edit
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li= link_to "To be Edited", trackers_path(editor_name: "#{current_user.name}", view: "edit")
              %li= link_to "On hold", trackers_path(editor_name: "#{current_user.name}", view: "hold")
              %li= link_to "Edit Done", trackers_path(editor_name: "#{current_user.name}", view: "done")
              %li= link_to "For Rough cut clean", trackers_path(editor_name: "#{current_user.name}", view: "clean")
              %li= link_to "To finalize and upload", trackers_path(editor_name: "#{current_user.name}", view: "finalize")
              / Everyone else can seelect from a list of states to create a new video form
        - else
          %li.dropdown
            %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
              New Form
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              - State.all.each do |state|
                %li= link_to "#{state.name}", new_tracker_path(state_name: "#{state.name}")

        /See all videos
        %li.dropdown
          %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
            All Videos
            %span.caret
          - if current_user.division == "State Coordinator"
            %ul.dropdown-menu{ role: 'menu' }
              - if current_user.division == "State Coordinator"
                %li= link_to "All", trackers_path(state_name: "#{current_user.state}")
                %li= link_to "Recent", trackers_path(recent: true, state: "#{current_user.state}")
          - else
            %ul.dropdown-menu{ role: 'menu' }
              / %li.dropdown-submenu
              /   %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
              /     All by state
              /   %ul.dropdown-menu{ role: 'menu' }
              /     - State.all.each do |state|
              /       %li= link_to "#{state.name}", trackers_path(state_name: "#{state.name}")
              %li= link_to "All", trackers_path
              %li= link_to "Recent", trackers_path(recent: true)
              


        /See videos by stages
        %li.dropdown
          %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
            Videos By Stage
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - if current_user.division == "State Coordinator"
              - find_collection('production_status').each do |key, value|
                %li= link_to key, trackers_path(view: value, name: "#{current_user.state}")
            - else
              - find_collection('production_status').each do |key, value|
                %li= link_to key, trackers_path(view: value)
                    
        %li.dropdown
          %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
            CCs
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - if current_user.division == "State Coordinator"
              %li= link_to "View All", ccs_path(state: "#{current_user.state}")
            - else
              %li= link_to "View All", ccs_path
            - unless current_user.division == "State Coordinator" || current_user.division == "Editor"
              %li= link_to "New", new_cc_path

        -if current_user.division == "State Coordinator"
          %li
            %li= link_to "Month wise", trackers_monthly_path(state: "#{current_user.state}")
        -else 
          %li.dropdown
            %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
              Month wise
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              - State.all.each do |state|
                %li= link_to "#{state.name}", trackers_monthly_path(state: "#{state.name}")

        - unless current_user.division == "State Coordinator" || current_user.division == "Editor"
          %li.dropdown
            %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
              States
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li= link_to "View All States", states_path
              - if current_user.try(:admin?)
                %li= link_to "New", new_state_path


    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
            Welcome #{ current_user.email }
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - if current_user.try(:admin?)
              %li= link_to "View All", users_path
              %li= link_to "View Unverified", users_path(approved: "false")
              %li= link_to 'Download CSV list', trackers_csv_path(format: :csv)
            %li= link_to "Change your password", edit_user_registration_path
            %li= link_to "Log Out", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Log In", new_user_session_path
