%nav.navbar.navbar-default.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to image_tag('vvnewlogo.png', size: '50', alt: 'Brand'), root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
          Trackers
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li= link_to "Recent", trackers_path(recent: true)
          %li.dropdown-submenu
            %a{ href: "#" } View All By State
            %ul.dropdown-menu
              - State.all.order(:name).each do |state|
                %li= link_to state.name, trackers_path(state_name: "#{state.name}")
          %li.dropdown-submenu
            %a{ href: "#" } New
            %ul.dropdown-menu
              - State.all.order(:name).each do |state|
                %li= link_to state.name, new_tracker_path(state_name: "#{state.name}")
      %li.dropdown
        %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
          CCs
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li= link_to "View All", ccs_path
          %li= link_to "New", new_cc_path
      %li.dropdown
        %a.dropdown-toggle{ href: '#', :'data-toggle' => 'dropdown', role: 'button' }
          States
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li= link_to "View All", states_path
          %li= link_to "New", new_state_path
